*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #7003ff;
}

h1{
    text-align: center;
    color: white;
}

h2{
    text-align: center;
    color: white;
}

.container-principal {
    margin: 20px auto;
    padding: 12px;
    background: linear-gradient(#0000FF, #0000CD, #00008B, #000099);
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

/* Container para o botão de sair */
.sair-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Estilização do botão de sair */
.link-sair {
    display: inline-block;
    background-color: #3a0ca3;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.link-sair:hover {
    background-color: #7209b7;
}

.label-usuario{
    padding: 10px;
    color: white;
    font-size: large;
}

.label-comentario{
    padding: 10px;
    color: white;
    font-size: large;
}

.input-usuario{
    border: none;
    height: 20px;
    border-radius: 5px;
}

.textarea-comentario{
    border: none;
    max-width: 480px;
    border-radius: 5px;
}

.btn-enviar{
    width: 100px;
    height: 40px;
    font-size: larger;
    background-color: rgb(80, 80, 245);
    border: none;
    color: white;
}

.btn-enviar:hover{
    background-color: rgb(46, 46, 245);
}

.btn-excluir-comentario{
    width: 100px;
    height: 50px;
    font-size: larger;
    background-color: rgb(80, 80, 245);
    border: none;
    color: white;
    border-radius: 5px;
}

.btn-excluir-comentario:hover{
    background-color: rgb(46, 46, 245);
}

.btn-excluir-comentario a{
    text-decoration: none;
    color: white;
}

.mensagens{
    background-color: #7003ff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 20px;
}

.mensagem{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 755px;
    height: 150px;
}

.mensagem p{
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.btns{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.btn-curtir{
    width: 100px;
    height: 50px;
    font-size: larger;
    background-color: rgb(80, 80, 245);
    border: none;
    color: white;
    border-radius: 5px;
}

.btn-curtir:hover{
    background-color: rgb(46, 46, 245);
}

.btn-curtir a{
    text-decoration: none;
    color: white;
}

.btn-excluir-curtida{
    width: 100px;
    height: 50px;
    font-size: larger;
    background-color: rgb(80, 80, 245);
    border: none;
    color: white;
    border-radius: 5px;
}

.btn-excluir-curtida:hover{
    background-color: rgb(46, 46, 245);
}

.btn-excluir-curtida a{
    text-decoration: none;
    color: white;
}

@media (max-width: 750px) {
    .container-principal {
        margin: 20px auto;
        padding: 12px;
        background: linear-gradient(#0000FF, #0000CD, #00008B, #000099);
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
    }

    .mensagem{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 75%;
        height: 20%;
    }

    .btn-excluir-comentario, 
    .btn-curtir, 
    .btn-excluir-curtida{
        width: 75px;
        height: 50px;
        font-size: small;
        background-color: rgb(80, 80, 245);
        border: none;
        color: white;
        border-radius: 5px;
    }
}