<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/pagina-cadastro.css">
    <title>Página de Cadastro</title>
</head>
<body>
    <main>
        <form action="/cadastro-usuario" method="POST" class="container-principal">
            <h1>Seja Bem-Vindo à Página de Cadastro</h1>
            <label class="label-login">Login</label><br>
            <input name="login" type="text" class="input-login"><br>
            <label class="label-nome">Nome</label><br>
            <input name="nome" class="input-nome"></input><br>
            <label class="label-nome">Senha</label><br>
            <input name="senha" class="input-senha"></input><br>
            <div class="btns">
                <button class="btn-cadastrar" type="submit">Cadastrar</button>
            </div>
        </form>

        <a href="/pagina-login" class="btn-voltar">Ir para Login</a>
        
        
    </main>
</body>
</html>