<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/pagina-login.css">
    <title>Página de Login</title>
</head>
<body>
    <main>
        <form action="/post/verificar-usuario" method="POST" class="container-principal">
            <h1>Seja Bem-Vindo à Página de Login</h1>
            <label class="label-login">Login</label><br>
            <input name="login" type="text" class="input-login"><br>
            <label class="label-senha">Senha</label><br>
            <input name="senha" type="password" class="input-senha"><br>
            <div class="btns">
                <button class="btn-login" type="submit">Entrar</button>
            </div>
        </form>
        
    </main>
</body>
</html>