<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/pagina-inicial.css">
    <title>Página Inicial</title>
</head>
<body>
        
        <form action="/cadastro" method="POST" class="container-principal">
            <h1>Seja Bem-Vindo à Página de Mensagem</h1>
            <label class="label-usuario">Usuário</label><br>
            <input name="usuario" type="text" class="input-usuario"><br>
            <label class="label-comentario">Comentário</label><br>
            <textarea name="comentario" class="textarea-comentario"></textarea><br>
            <button class="btn-enviar">Enviar</button>
        </form>

        <div class="mensagens">
            {% for mensagem in mensagens %}
            <div class="mensagem">
                <strong>{{mensagem.usuario}}</strong>{{mensagem.data_hora}}
                <p>{{mensagem.mensagem}}</p>
                <p>Total de curtidas: {{mensagem.curtidas}}</p>
                <div class="btns">
                    <a href="/delete/mensagem/{{mensagem.cod_comentario}}"><button class="btn-excluir">Excluir</button></a>
                    <a href="/put/mensagem/adicionar/curtida/{{mensagem.cod_comentario}}"><button class="btn-curtir">Curtir</button></a>
                    <a href="/put/mensagem/excluir/curtida/{{mensagem.cod_comentario}}"><button class="btn-excluir">Excluir Curtida</button></a>
                </div>
            </div>
            {% endfor %}
        </div>
</body>
</html>